In [2]:
import pandas as pd

In [18]:
df_list = []
file_path = "data_sales/densign/apr.2021.xlsx"
df = pd.read_excel(file_path)
df

,Densign Lab,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2023-11-28 13:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product Activity Report (01 Apr 21 - 30 Apr 21),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Filters:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Customers: All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Classes: All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1779,NaN,NaN,NaN,Alloy arg43,9.13,NaN,NaN,NaN,NaN,319.55,0,0,319.55
1780,Totals,NaN,NaN,NaN,4319.69,418,9.68,304458.04,100,2961.44,NaN,0,307419.48
1781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,is a trademark of Evident Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1783,is a trademark of Evident Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import dateutil.parser as dparser

In [6]:
date_str = df["Densign Lab"].values[1]
first_date = dparser.parse(date_str.split("-")[0], fuzzy=True)

In [8]:
date_str

'Product Activity Report (01 Apr 21 - 30 Apr 21)'

In [9]:
date_str.split("-")[0]

'Product Activity Report (01 Apr 21 '

In [ ]:
first_date

datetime.datetime(2021, 4, 1, 0, 0)

In [19]:
df_new = df.iloc[5:, :]
df_new

,Densign Lab,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5,Customer Code,Dentist Name,Practice Name,Item,Product Pieces,Remake Pieces,%,Revenue,%,Alloy,COGS Alloy,Tax,Total
6,1014,Alex Wood,WOODFORD DENTAL CARE,NaN,5,2,40,430,0.14,NaN,NaN,0,430
7,NaN,NaN,NaN,Lithium disilicate Crown,1,NaN,NaN,105,0.03,NaN,NaN,0,105
8,NaN,NaN,NaN,Lithium disilicate Inlay/Onlay,1,NaN,NaN,105,0.03,NaN,NaN,0,105
9,NaN,NaN,NaN,Zirconia Crown,3,2,66.67,220,0.07,NaN,NaN,0,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1779,NaN,NaN,NaN,Alloy arg43,9.13,NaN,NaN,NaN,NaN,319.55,0,0,319.55
1780,Totals,NaN,NaN,NaN,4319.69,418,9.68,304458.04,100,2961.44,NaN,0,307419.48
1781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,is a trademark of Evident Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1783,is a trademark of Evident Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_new.columns = df_new.iloc[0, :]
df_new

5,Customer Code,Dentist Name,Practice Name,Item,Product Pieces,Remake Pieces,%,Revenue,%,Alloy,COGS Alloy,Tax,Total
5,Customer Code,Dentist Name,Practice Name,Item,Product Pieces,Remake Pieces,%,Revenue,%,Alloy,COGS Alloy,Tax,Total
6,1014,Alex Wood,WOODFORD DENTAL CARE,NaN,5,2,40,430,0.14,NaN,NaN,0,430
7,NaN,NaN,NaN,Lithium disilicate Crown,1,NaN,NaN,105,0.03,NaN,NaN,0,105
8,NaN,NaN,NaN,Lithium disilicate Inlay/Onlay,1,NaN,NaN,105,0.03,NaN,NaN,0,105
9,NaN,NaN,NaN,Zirconia Crown,3,2,66.67,220,0.07,NaN,NaN,0,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1779,NaN,NaN,NaN,Alloy arg43,9.13,NaN,NaN,NaN,NaN,319.55,0,0,319.55
1780,Totals,NaN,NaN,NaN,4319.69,418,9.68,304458.04,100,2961.44,NaN,0,307419.48
1781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,is a trademark of Evident Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1783,is a trademark of Evident Inc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN